
<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2>Nhập email tài khoản của bạn</h2>
            </div>
            <fieldset class="col1-set">
            
                <div class="col-1 registered-users">
                    <div class="content">
                        <form class="form-list" action="/user/forgetpassword" method="POST">
                            <label for="email">Email của bạn <span class="required">*</span></label>
                            <br>
                            <input type="text" title="Email" class="input-text required-entry" id="email"  name="email" required>
                            <br>

                            <p class="required">* Bắt buộc</p>
                            <div class="buttons-set">
                              <input id="send2" name="send" type="submit" class="button login" value="Gửi mã xác nhận">
                            </div>   
                        </form> 
                    </div>
                </div>
            </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
