<section class="main-container col1-layout">
  <div class="main container">
    <div class="account-login">
      <div class="page-title">
        <h2>Đăng nhập hoặc đăng ký tài khoản</h2>
      </div>
      <fieldset class="col2-set">
        <legend>Đăng nhập hoặc đăng ký tài khoản</legend>
        <div class="col-1 new-users">
          <strong>Khách hàng mới</strong>
          <div class="content">
            <p>Với một tài khoản, bạn có thể thanh toán đơn hàng một cách nhanh chóng, quản lý các đơn hàng của mình và nhiều chức năng tiện lợi khác.</p>
            <div class="buttons-set">
              <button onclick="window.location='/user/register';" class="button create-account" type="button"><span>Đăng ký tài khoản</span></button>
            </div>
          </div>
        </div>
        <div class="col-2 registered-users">
          <strong>Đăng nhập</strong>
          <div class="content">
            {{#if error}}   
              <p style="color: red;">{{error}} </p>
            {{/if}}  
            <p>Nếu bạn đã có tài khoản, hãy đăng nhập bên dưới.</p>
            <form class="form-list" action="/user/login" method="POST">
              <label for="username">Tên đăng nhập <span class="required">*</span></label>
              <br>
              <input type="text" title="User Name" class="input-text required-entry" id="username" value="" name="username" required>
              <br>
                            
              <label for="password">Mật khẩu <span class="required">*</span></label>
              <br>
              <input type="password" title="Password" id="password" class="input-text required-entry validate-password" name="password" required> 
              <br>
              <input type="hidden" name="referer" value= "{{referer}}" >
              <p class="required">* Bắt buộc</p>
              <div class="buttons-set">
                <input id="send2" name="send" type="submit" class="button login" value="Đăng nhập">
              </div>           
            </form> 
            <a href="/user/login/google" style="color: red;">Hoặc đăng nhập với Google</a>
          </div>
        </div>
      </fieldset>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>