
<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2>Đăng ký tài khoản</h2>
            </div>
            <fieldset class="col1-set">
            
                <div class="col-1 registered-users">
                    <div class="content">
                        <form class="form-list" action="/user/register" method="POST">
                            
                                <label for="name">Họ và tên <span class="required">*</span></label>
                                <br>
                                <input type="text" title="Full Name" class="input-text required-entry" id="fullname" value="" name="fullname" required>
                                <br>

                                <label for="email">Địa chỉ email <span class="required">*</span></label>
                                <br>
                                <input type="text" title="Email Address" class="input-text required-entry" id="email" value="" name="email" required>
                                <br>

                                <label for="username">Tên đăng nhập <span class="required">*</span></label>
                                <br>
                                <input type="text" title="Username" class="input-text required-entry" id="username" value="" name="username" required>
                                <br>
                            
                                <label for="password">Mật khẩu <span class="required">*</span></label>
                                <br>
                                <input type="password" title="Password" id="password" class="input-text required-entry validate-password" name="password" required>
                                <br>
                        
                                <label for="confirm">Nhập lại mật khẩu <span class="required">*</span></label>
                                <br>
                                <input type="password" title="Confirm Password " class="input-text required-entry" id="confirm" value="" name="confirm" required>
                                <br>

                                <p class="required">* Bắt buộc</p>
                                <div class="buttons-set">
                                    <input id="send2" name="send" type="submit" class="button login" value="Đăng ký">
                                </div>
                            
                        </form> 
                    </div>
                </div>
            </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
