
<section class="main-container col1-layout">
    <div class="main container">
        <div class="account-login">
            <div class="page-title">
                <h2>Đổi mật khẩu</h2>
            </div>
            <fieldset class="col1-set">
            
                <div class="col-1 registered-users">
                    <div class="content">
                        <form class="form-list" action="/user/info/updatepassword" method="POST">

                                <label for="oldpassword">Mật khẩu cũ <span class="required">*</span></label>
                                <br>
                                <input type="password" title="Old Password" class="input-text required-entry" id="oldpassword" value="" name="oldpassword">
                                <br>
            
                                <label for="newpassword">Mật khẩu mới <span class="required">*</span></label>
                                <br>
                                <input type="password" title="New Password" id="newpassword" class="input-text required-entry validate-password" name="newpassword">
                                <br>
                        
                                <label for="confirm">Nhập lại mật khẩu mới <span class="required">*</span></label>
                                <br>
                                <input type="password" title="Confirm Password " class="input-text required-entry" id="confirm" value="" name="confirm">
                                <br>

                                <p class="required">* Bắt buộc</p>
                                <div class="buttons-set">
                                    <input id="send2" name="send" type="submit" class="button login" value="Đổi">
                                </div>
                            
                        </form> 
                    </div>
                </div>
            </fieldset>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
